.container-cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}
.container-padre {
    max-width: 1700px;
    margin-inline: auto;
    margin-left: 65px;
}
.container-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e68536;
    width: 250px;
    height: 50px;
    margin-top: 30px;
    border-radius: 50px;
    margin-inline: auto;
    margin-top: 20px;
}

.individual {
    /* margin-left: 20px; */
    margin-inline: auto;
    color: white;
}
.botonPrevNext {
    background-color: #ffffff;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin-inline: auto;
    box-shadow: 2px 2px 7px -2px black;
}
