.container-cards{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    
}
.container-padre{
    max-width: 1700px;
    margin-inline: auto;
}
.container-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e68536;
    width: 250px;
    height: 50px;
    margin-top: 30px;
    border-radius: 40px;
    margin-inline: 826px;
    
    

}

 .individual{
    /* margin-left: 20px; */
    margin-inline: auto;
    
} 
.botonPrevNext{
    background-color: #ffffff;
    border-color: white;
    color: rgb(0, 0, 0);
    display: block;
  width: 30px;
  height: 30px;
  border-radius: 60%;
  cursor: pointer;
 
}